@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    animation: fadeInAnimation ease 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/* @keyframes defines the steps for the animation.*/ 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.navbar {
    overflow: hidden;
    opacity: 100%;
    background-color: black;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown1 {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn  {
    font-size: 24px;
    border: none;
    outline: none;
    color: rgb(184, 147, 147);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  /* display:block; causes it to be a horizontal column*/ 
  
  .dropdown-content a {
    float: none;
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    float: none;
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


  #bio {
    margin-top: 60px;
    font-size: 60px;
    color: rgb(96, 91, 91);
    text-align:center;
  }

  h1 {
    text-align: center;
    position: fixed;
    top: 7%;
    color: rgb(184, 147, 147);
    font-size: 90px;
    }

    h1:hover {
      color:white;
    }

p {
    text-align: center;
    position: fixed;
    top: 27%;
    left: 7.7%;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

/* new */ 

.container {
  display: flex; 
  width: 60vw; 
  position: fixed; 
  left: 36%;
  top: 52%;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
}

.panel h3 {
  font-size: 24px;
  color: rgb(184, 147, 147);
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}